
	
	
	<!-- Header -->
	<% if (locals.user != undefined){ %> 
		<%- include('partials/headerLogueado') %> 
	<% }else { %> 
		<%- include('partials/header') %> 
	<% } %>  
	<!-- /Header -->
	 
<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="products-title">Novedades</h1>
			</div>
			<% for( let i = 0; i < products.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/<%= products[i].id %>">
							<figure class="product-box_image">
								<img src="<%= products[i].image_product %>" alt="instrumento">
							</figure>
							
							<article class="product-box_data">
								<h2><%= products[i].name_product %></h2>
								<p> Publicado por: <%= products[i].users.nombre_users %></p>
								<p> Info: <%= products[i].product_description %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>	
		</div>
	</div>
	<!-- /Novedades -->
	


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- footer -->

