<!-- Header -->
<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->


	<!-- product detail -->
	<div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title"> <%= products.name_product %> </h2>
			<div class="usuario_producto">
				 <h3 style="margin-top: 3px; font-size: 16px;">  <%= products.users.nombre_name %></h3></a>  
			</div>
            
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="/images/<%= products.image_product %>" alt="" class="product-detail-img">
                    <p > Descripcion del producto: <%= products.product_description %> </p>
					<p > Propietario: <a href="/users/profile/<%= products.users.id %> "><%= products.users.nombre_users %></a> </p>
					<p > Ante cualquier consulta: <%= products.users.email %> </p>
					
                </article>
                <div class="col-12 col-lg-4">

						

						<div class="col-12 col-lg-4">
							<section >
								<% for (let i=0; i < products.comentarios.length; i++) {%>
								<article>
									<div class="data">
										<p class="user"><%= products.comentarios[i].texto_comentario%></p>
									</div>
								</article>
							</section>
							<%} %>

							<form class="form" action="/comentarios/comentar/<%= products.id %> " method="POST">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
						</div>
						<% if (locals.user != undefined && locals.users.id == products.users.id) { %>
							<form class="form" action="/producto/borrar/<%= products.id %>" method="POST">
								<button type="submit" class="buy-now-button">ELIMINAR PUBLICACIÓN</button>
							</form>
							<form class="form" action="/producto/editar/<%= products.id %>" method="GET">
								<button type="submit" class="buy-now-button">EDITAR PUBLICACIÓN</button>
							</form>
						<% } %>
				</div>
			</div>
		</div>
		<!-- /product detail -->

		<!-- footer -->
		<%- include('./partials/footer.ejs') %>
			<!-- /footer -->