
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<body>
				<h1>Editar mis datos</h1>
			 
				<form action="/users/profile/edit" method="POST">
					<div>
						<input type="text" name="name" placeholder="nombre" value="<%=user.nombre_users%>">
					</div>
			
					<div>
						<input type="text" name="apellido" placeholder="apellido" value="<%=user.apellido%>">
					</div>
			
					<div>
						<input type="email" name="email" placeholder="email" value="<%=user.email%>">
					</div>
			
					<div>
						<input type="password" name="password" placeholder="password" value="<%=user.password%>">
					</div>
			
					<div>
						<input type="date" name="fecha" placeholder="Fecha de nacimientos" value="<%=user.fecha_nacimiento%>">
					</div>
			
					<div>
						<input type="text" name="dni" placeholder="DNI" value="<%=user.numero_documento%>">
					</div>
					<div>
						<label for="email">Foto de perfil: </label>
						<input type="file" name="avatar"  value="">
					   <% if(locals.errors){ %>
						<p> <%= locals.errors.message%> </p>
						
						<%} %>
					</div>
			
			
			
			
				 <button type="submit"> Actualizar Datos</button>
			
					
					 
				</form>
			</body>
	<!---> footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

