
	<% if (locals.user != undefined){ %> 
		<%- include('partials/headerLogueado') %> 
	<% }else { %> 
		<%- include('partials/header') %> 
	<% } %>  



<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			
		</div>
	<% for (let i=0; i<searchResults.length; i++){ %>

	<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/productos/especifico/<%= searchResults[i].id %>">
					<figure class="product-box_image">
						<img class="imagen" src="<%=searchResults[i].image_product %>" alt="cafetera moulinex">
					</figure>
					<article class="product-box_data">
						<h2> <%= searchResults[i].name_product %></h2>
						<p><%= searchResults[i].product_description %></p>
						<p><%= searchResults[i].created_at %></p>
					</article>
				</a>
			</section>
		</div>
		<%}	 %>
	</div>
</div>
<!-- /Novedades -->