<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar mis datos</h1>
 
    <form action="/user/edit" method="POST">
        <div>
            <input type="text" name="name" placeholder="nombre" value="<%=user.nombre_users%> ">
        </div>

        <div>
            <input type="text" name="apellido" placeholder="apellido" value="<%=user.apellido%> ">
        </div>

        <div>
            <input type="email" name="name" placeholder="email" value="<%=user.email%> ">
        </div>

        <div>
            <input type="password" name="password" placeholder="password" value="<%=user.password%> ">
        </div>

        <div>
            <input type="date" name="fecha" placeholder="Fecha de nacimientos" value="<%=user.fecha_nacimiento%>">
        </div>

        <div>
            <input type="text" name="dni" placeholder="DNI" value="<%=user.numero_documento%> ">
        </div>
        <div>
            <label for="email">Foto de perfil: </label>
            <input type="file" name="avatar"  value="">
           <% if(locals.errors){ %>
            <p> <%= locals.errors.message%> </p>
            
            <%} 
        </div>




     <button type="submit"> Actualizar Datos</button>

        
         
    </form>
</body>
